<%= render :partial => 'shared/errors', :locals => {:object => @dish} %>

<%= form_for @dish do |f| %>
  <div class="field">
    <%= f.label :restaurant_id %>
    <%= f.select :restaurant_id, Restaurant.all.map{|r| [r.name, r.id]} %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :cost %>
    <%= f.number_field :cost %>
  </div>
  <br>
  <div class="field">
    <%= f.label :photo %>
    <%= f.text_field :photo %>
  </div>
  <br>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>