<%= render :partial => 'shared/errors', :locals => {:object => @restaurant} %>

<%= form_for @restaurant do |f| %>

	<div class='field'>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<br>
	<div class='field'>
		<%= f.label :cuisine %>
		<%= f.text_field :cuisine %>
	</div>
	<br>
	<div class='field'>
		<%= f.label :address %>
		<%= f.text_area :address %>
	</div>
	<br>
	<div class='field'>
		<% Dish.all.each do |dish| %>
			<%= check_box_tag 'restaurant[dish_ids][]', dish.id, @restaurant.dishes.include?(dish) %>
			<span><%= dish.name %></span>
		<% end %>
	</div>
	<br>
	<div class='field'>
		<div class="submit"><%= f.submit %></div>
	</div>

<% end %>