<ul class='errors'>
	<% @restaurant.errors.full_messages.each do |error| %>
		<li><%= error %></li>
	<% end %>
</ul>


<%= form_for @restaurant do |f| %>

	<div class='field'>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<br>
	<div class='field'>
		<%= f.label :cuisine %>
		<%= f.text_field :cuisine %>
	</div>
	<br>
	<div class='field'>
		<%= f.label :address %>
		<%= f.text_field :address %>
	</div>
	<br>
	<div class='field'>
		<div class="submit"><%= f.submit %></div>
	</div>

<% end %>