
<h1><%= @restaurant.name %></h1>

<p>Name: <%= @restaurant.cuisine %></p>
<p>Address: <%= @restaurant.address %></p>

<div class="update">
	<%= link_to "Edit", edit_restaurant_path(@restaurant) %>
	<%= link_to "delete", restaurant_path(@restaurant), :method => :delete, :confirm => "Are you sure?" %>
</div>
