<!DOCTYPE html>
<html>
<head>
  <title>Foodee</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
	<header>

		<nav>
			<h1 class="logo">FOODEE</h1>
			<%= link_to "Home", root_path %>
			<%= link_to "Restaurants", restaurants_path %>
      <%= link_to "New Restaurant", new_restaurant_path %>

			<%= link_to "Dishes", dishes_path %>
      <%= link_to "New Dish", new_dish_path %> 
    </nav>
	</header>
	

<div id="yield">
<%= yield %>
</div>
	<footer><p>(c) 2012 Foodee Corp :: Chris - Jon - Zahra </p>
	</footer>
	</div>

</body>
</html>
