<!DOCTYPE html>
<html>
<head>
  <title>Foodee</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav>
			<%= link_to "HOME", root_path %> ::
			<%= link_to "RESTAURANTS", restaurants_path %> ::
			<%= link_to "DISHES", dishes_path %> ::
		</nav>
	</header>

<%= yield %>
	<footer>(c) 2012 Foodee Corp :: Chris - Jon - Zahra </footer>

</body>
</html>
