<!DOCTYPE html>
<html>
<head>
  <title>Foodee</title>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
	<header>

		<nav>
			<h1 class="logo">Foodee</h1>
			<%= link_to "Home", root_path %>
			<%= link_to "Restaurants", restaurants_path %>
      		<%= link_to "New Restaurant", new_restaurant_path %>
			<%= link_to "Dishes", dishes_path %>
      		<%= link_to "New Dish", new_dish_path %> 
    </nav>
	</header>
	

<div id="yield">
<%= yield %>
</div>
	<footer>
		<div class="socialmedia">
						
						<div class="clear">
						</div>

						
							<ul>
                				<li class="linkedin"><a href="http://www.linkedin.com/pub/jonathan-ku/10/529/926" target="_blank">LinkedIn</a></li>
                				<li class="twitter"><a href="https://twitter.com/thejonku" target="_blank">Twitter</a></li>
                				<li class="facebook"><a href="http://www.facebook.com/ku.jonathan" target="_blank">Facebook</a></li>
                				
							</ul>
						

						<div class="clear">
						</div>
						
		</div><!-- .socialmedia -->
		<p>(c) 2012 Foodee Corp :: Chris - Jon - Zahra </p>
	</footer>
	</div>

</body>
</html>
